[{*.sh,*.bash,*.zsh,siren}]
indent_style = space
indent_size = 2

# shfmt options (-ln bash -ci -sr)
shell_variant = bash
binary_next_line = false
switch_case_indent = true
space_redirects = true
keep_padding = false
function_next_line = false
